.add-comment-actions {
  display: flex;
  justify-content: flex-end;
  padding: 0 8px 8px 8px;
}

.add-comment-actions .cancel-button {
  margin-right: 8px;
}

.add-comment-root {
  padding-top: 8px;
}

.add-comment-input-wrapper {
  padding: 0 8px 8px 8px;
}
