.nf-kb-nav-wrapper {
  display: flex;
}

.sizing-wrapper {
  right: 288px !important;
}

#comments {
  position: absolute;
  width: 288px;
  right: 0;
  top: 0;
  bottom: 0;
  height: 100%;
}

.app-flex {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}