.nf-kb-nav-wrapper {
  display: flex;
}

.sizing-wrapper {
  right: 340px;
}

#comments {
  position: fixed;
  width: 340px;
  right: 0;
  top: 0;
  bottom: 0;
  height: 100%;
  z-index: 5;
}

.app-flex {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.visible-wrapper,
.invisible-wrapper {
  height: 100%;
}

.invisible-wrapper {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.show-button {
  opacity: 0;
  transition: opacity 2s ease-in-out;
}

.active .show-button {
  opacity: 1;
}

.big-daddy {
  height: 100%;
}